.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7FAFC;
}

.header {
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

h1.header {
    font-size: 3em; 
    font-weight: bold; 
    color: #30C9E8; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

h2.header {
    font-size: 1.5em;
    color: #666666; 
    font-weight: normal; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); 
    margin-bottom: 20px;

}

.header:hover {
    color: #FFFFFF; 
    background-color: #30C9E8;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.chat-container {
    position: relative;
    padding-bottom: 100px; 
    overflow-y: auto;
    height: 100vh; 
}

.chat-screen-form {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.chat-screen-input {
    flex: 1;
    padding: 10px;
    border: none;
    max-width: 90%;  
    margin-right: 10px;  
}
    
.messages {
    width: 100%;
    max-width: 700px; 
    margin: 0 auto;   
    font-family: 'San Francisco', Arial, sans-serif; 
    padding: 10px;
}

.message {
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 18px;
    max-width: 75%; /* Makes sure the message bubbles don't stretch the entire width */
    word-wrap: break-word; /* Helps with long unbroken text */
    position: relative;
}

.message.user {
    background-color: #0A74DA; /* iMessage blue */
    color: white;
    align-self: flex-end;
    margin-left: 25%; /* Pushes the message to the right */
}

.message.chatbot {
    background-color: #E1E1E1; /* iMessage gray */
    align-self: flex-start;
    margin-right: 25%; /* Pushes the message to the left */
}

.loading-container {
    display: flex;
    align-items: center;
}
  
.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin-right: 8px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  